@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@600&family=EB+Garamond:ital,wght@1,600&family=Poppins:wght@700&display=swap');
*{
    margin:0;
    padding:0;
}
body{
    font-family: 'Poppins', sans-serif;
}
header h3{
    color: #3A3A3A;
    font-size: 24px;
    font-weight: bold;
    margin-left:120px;
    margin-top: 87px;
    margin-right: 1077px;
}
.influencer-journey{
    /* height:400px; */
    display: grid;
grid-template-columns: repeat(2,1fr);
grid-column-gap: 133px;
    justify-content: center;
    align-items: center;
    
}
.half-left{
    width: 582px;
    height: 270px;
    margin-left: 120px;
}
.half-left h1{
    font-size: 52px;
    font-weight: bold;
    line-height: 70px;
    margin-bottom: 16px;
}
.half-left p{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
    padding-bottom: 20px;
}
.half-left a{
    background-color: #E02C6D;
    text-decoration: none;
color:#FFFFFF;
border-radius: 41px;
padding: 10px 24px;
transition: ease-out 0.5s;
}
.half-left a:hover{
    background-color:hotpink;
    color:mistyrose;
    font-size: large;
}
.fa-arrow-right{
    margin-left:10px;
}
.half-right{
    width: 450px;
    height: 460px;
    left: 835px;
}
.half-right img{
width:100%;
background-image: url("images/Circle\ design.svg");
background-repeat: no-repeat;
}
.half-right:hover img{
    background-color: #E02C6D;
    border-radius: 50%;
    transform: scale(1.2);
    transition: transform 2s ease-in-out;
}
.popular-collection{
    height: 1662px;
    width: 1047px;
   margin:auto;
}
.popular-collection h3{
    font-size: 28px;
    line-height: 70px;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 30px;
}
.margin-add{
    margin:20px 0;
}
.fa-star{
    color:gold;
    font-size: 10px;
}
.fa-star-half-alt{
    color:gold;
    font-size: 10px;
}
.popular-collection a{
    text-decoration: none;
    color: #E02C6DDE;
    font-size: 16px;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}
.products{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    justify-items: center;
    align-items: center;
}
.product{
    width: 329px;
height: 476px;
background: #FFFFFF;
box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
border-radius: 5px;
margin-bottom: 30px;
}
.photo_details img{
    padding:20px 10px;
    width: 300px;
height: 256px;
object-fit: contain;
}
.photo_info p{
    color: #787885;
    font-size: 14px;
}
.photo_details h2{
    padding: 0 10px;   
}
.photo_info{
    padding: 0 10px;
}
#ratings{
    font-size: 14px;
    color: #5E6366;
    font-weight: bold;
}
.join_group{
    width: 1110px;
height: 270px;
}
.join_group{
    margin: 100px 165px;
}
.group_info{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 100px;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
.half-width-left{
    margin-left:165px;
}
.half-width-left img{
    width:100%; 
    object-fit: cover;
}
.half-width-right{
    width: 100%;
    padding:0 60px;
}
.half-width-right h2{
    font-size: 38px;
    line-height: 60px;
    color: #0A0826;
    margin-bottom: 16px;
}
.half-width-right p{
    font-size: 16px;
    color: #6C6C6C;
    /* line-height: 28px; */
    margin-bottom:20px ;
}
.half-width-right a{
    padding: 10px 24px;
    text-decoration: none;
    background: #E02C6D;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    margin:25px 0px;
}
.bottom{
    text-align: center;
    background: #0A0826;
    color: #FFFFFF;
padding:40px;
}
.bottom h2{
    font-size: 24px;
    font-weight: bold;
}
.bottom p{
    font-size: 14px;
    line-height: 30px;
}
.media-icon i{
    color:#E02C6D;
    border-radius: 50%;
    margin: 20px 16px;
    font-size: 25px;
}